
.title{
    text-align: center; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 80px; 
    color: #F29F05; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68; 
}
.subTitle{
    text-align: center; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 50px; 
    color: #F29F05; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68; 
}
.btn{
  background-color: rgb(0, 0, 0);
  color: #F29F05;
  border: 1px solid #ffffff;
  border-radius: 25px;
  font-size: 60px; 
}
.btn:hover {
  color: rgb(255, 255, 255);
  background: rgba(27, 23, 23, 0.281);
  border: 3px solid #000000;
}
.div{
  position: absolute;
  top: 20%;
  left: 25%;
  margin: -25px 0 0 -25px; /* aplicar a top y al margen izquierdo un valor negativo par*/
}
